# Ignore specific local folders in the scraper project
bin/
obj/
.vs/
.vscode/

# Ignore git and docker metadata
.git/
.dockerignore
Dockerfile*

# DO NOT use **/obj or **/bin because it will kill the FocusDB 
# files inside the UserRegistration folder during the build context transfer.

# Optional: specifically allow the project files just to be safe
!**/*.csproj

UserRegistration/Backend/FocusPortal/